.text_area_container {
  width: 100% !important;
  border-bottom: 1px solid black !important;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;

  textarea {
    width: 80%;
    height: min-content;
    resize: none;
    font-size: 1rem;
    padding: 0 0.5rem;
    color: #000;
  }
  .text {
    width: 80%;
  }
  .viewImage {
    position: relative;
    img {
      width: 200px;
    }
    button {
      position: absolute;
      top: -8px;
      right: -8px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgb(255, 255, 255);
      // border: 1px solid #000;
      border-radius: 50%;
    }
  }
  .addImage {
    display: flex;
    align-items: center;
    span {
      font-size: 3rem !important;
    }
    input {
      display: none;
    }
  }
}
