.test_table {
  width: 100%;
  th,
  td {
    padding: 0.3rem;
    align-items: center;
  }
  tbody {
    tr {
      td {
        &:nth-child(1),
        &:nth-child(2) {
          text-align: center;
        }
      }
    }
  }
}
