.screenImage {
  position: relative;
  display: flex;
  align-items: center;
  img {
    height: 4rem;
  }
  button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    width: 1.2rem;
    height: 1.2rem;
    top: -0.6rem;
    right: -0.3rem;
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    background: red;
    &:hover {
      cursor: pointer;
    }
  }
}
